@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  color: #333333;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img,
input,
button {
  display: block;
}

input {
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-size: 1.6rem;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

@-webkit-keyframes shutterMessage {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shutterMessage {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes byeShutter {
  80% {
    opacity: 1;
  }
  99% {
    z-index: 9999;
  }
  100% {
    display: none;
    z-index: -1;
    opacity: 0;
  }
}

@keyframes byeShutter {
  80% {
    opacity: 1;
  }
  99% {
    z-index: 9999;
  }
  100% {
    display: none;
    z-index: -1;
    opacity: 0;
  }
}

@-webkit-keyframes shutterOpen1 {
  0% {
    width: 0;
    height: 1px;
  }
  60% {
    width: 100%;
    height: 1px;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes shutterOpen1 {
  0% {
    width: 0;
    height: 1px;
  }
  60% {
    width: 100%;
    height: 1px;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes shutterOpen2 {
  65% {
    width: 120%;
    height: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 120%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes shutterOpen2 {
  65% {
    width: 120%;
    height: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 120%;
    height: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes contentScale {
  65% {
    transform: perspective(800px) scale(0.9);
  }
  80% {
    transform: perspective(800px) scale(1);
  }
}

@keyframes contentScale {
  65% {
    transform: perspective(800px) scale(0.9);
  }
  80% {
    transform: perspective(800px) scale(1);
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.l-footer {
  background-color: #3e3c3c;
  /* height: 10rem;

  @include mq("pc") {
    height: 18rem;
  } */
}

.l-header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background-color: rgba(200, 79, 79, 0);
  transition: all 0.3s;
  /* @include mq("pc") {
    height: 8rem;
  } */
}

.c-btn, .c-btn--red {
  position: relative;
  padding: 1rem 3rem;
  border: 0.4rem solid white;
  border-radius: 3rem;
  background: transparent;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.c-btn::after, .c-btn--red::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 1.4rem;
  width: 0.5rem;
  height: 0.5rem;
  transform: translateY(-50%) rotate(-45deg);
  border-right: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  content: "";
  transition: all 0.3s;
}

.c-btn:hover, .c-btn--red:hover {
  background-color: white;
  color: black;
}

.c-btn:hover::after, .c-btn--red:hover::after {
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
}

.c-btn--red {
  border: 0.4rem solid #dd98a5;
  background-color: #dd98a5;
}

.c-btn--red:hover {
  background-color: white;
  color: #dd98a5;
}

.c-btn--red:hover::after {
  border-right: 0.2rem solid #dd98a5;
  border-bottom: 0.2rem solid #dd98a5;
}

.c-img {
  width: 100%;
}

.c-img__icon {
  width: auto;
  height: 80%;
}

.c-link {
  color: white;
}

.c-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
}

.p-about {
  padding: 10rem 2rem;
  background-color: #f5f5f5;
}

.p-about__title {
  z-index: 0;
  position: relative;
  margin: 0 auto 7rem;
}

.p-about__title::before {
  z-index: -1;
  position: absolute;
  top: -2.3rem;
  left: -1.8rem;
  content: "A";
  color: #dd98a5;
  font-size: 5rem;
  opacity: 0.5;
}

.p-about__img-wrap {
  position: relative;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  margin: 0 auto 4rem;
  border-radius: 50%;
  background-color: rgba(221, 152, 165, 0.6);
}

.p-about__img-wrap::before {
  display: block;
  padding-top: 100%;
  content: "";
}

.p-about__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-about__message {
  display: flex;
  flex-basis: 35rem;
  flex-direction: column;
  justify-content: center;
}

.p-about__introduction {
  line-height: 1.6em;
}

.p-about__qualification-title {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.6em;
}

.p-about__qualification-item {
  position: relative;
  padding-left: 2rem;
  line-height: 1.4em;
}

.p-about__qualification-item::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "\f00c";
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
}

.p-contact {
  padding: 10rem 2rem;
  background-color: #f7f6e7;
}

.p-contact__title {
  z-index: 0;
  position: relative;
  margin: 0 auto 7rem;
}

.p-contact__title::before {
  z-index: -1;
  position: absolute;
  top: -2.3rem;
  left: -1.8rem;
  content: "C";
  color: #dd98a5;
  font-size: 5rem;
  opacity: 0.5;
}

.p-contact__item {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.p-contact__item:not(:last-child) {
  margin-bottom: 3rem;
}

.p-contact__item:last-child {
  margin-bottom: 4rem;
}

.p-contact__label {
  display: inline-block;
  width: 7rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.p-contact__input {
  width: 100%;
  height: 4rem;
  border: 0.2rem solid #787878;
  border-radius: 0.5rem;
}

.p-contact__input--textarea {
  width: 100%;
  height: 100%;
  max-height: 10rem;
  resize: none;
}

.p-contact__example {
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
}

.p-contact__btn {
  margin: 0 auto;
  outline: none;
}

.p-contact__message {
  display: none;
  margin-top: 0.6rem;
  text-align: center;
}

.p-contact__message--error {
  color: #dd98a5;
}

.p-contact__dummy {
  display: none;
}

.p-footer {
  padding: 7rem 0;
}

.p-footer__copyright {
  color: white;
  text-align: center;
}

.p-header {
  display: flex;
  width: calc(100% - 4rem);
  height: 100%;
  margin: auto auto;
  background-color: rgba(0, 0, 0, 0);
}

.p-header__logo {
  /* margin: auto 0;
    margin-right: auto;
    padding: 0.8rem 0;
    height: 4rem;
    width: 9rem;
    transition: all 0.3s; */
  width: 100%;
}

.p-header__logo-link {
  display: block;
  width: 9rem;
  height: 4rem;
  margin: auto 0;
  margin-right: auto;
  padding: 0.8rem 0;
  cursor: pointer;
}

.p-load {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1e1e1e;
  -webkit-animation: byeShutter 4s forwards;
          animation: byeShutter 4s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.p-load__message {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -80%);
  color: white;
  font-size: 5rem;
  -webkit-animation: shutterMessage 3s forwards;
          animation: shutterMessage 3s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.p-load::before, .p-load::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto;
  transform: translateX(-50%);
  content: "";
}

.p-load::before {
  width: 0;
  height: 1px;
  background-color: #e2d9ce;
  -webkit-animation: shutterOpen1 4s forwards;
          animation: shutterOpen1 4s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.p-load::after {
  width: 100%;
  height: 0;
  background-color: #f3f3f3;
  -webkit-animation: shutterOpen2 4s forwards;
          animation: shutterOpen2 4s forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.p-nav {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.p-nav__items {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.p-nav__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
}

.p-nav__link {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  transition: all 0.3s;
}

.p-nav__link::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.2rem;
  transform: translateX(-50%);
  background-color: #dd98a5;
  content: "";
  transition: all 0.3s;
}

.p-nav__link:hover {
  color: #dd98a5;
}

.p-nav__link:hover::after {
  width: 100%;
}

.p-nav__link--current {
  color: #dd98a5 !important;
}

.p-nav__trigger {
  z-index: 4;
  position: relative;
  width: 3rem;
  height: 4rem;
  margin: auto 0;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.5s;
}

.p-nav__trigger-part {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.3rem;
  border-radius: 4px;
  background-color: white;
  transition: all 0.5s;
}

.p-nav__trigger-part:nth-of-type(1) {
  top: 1rem;
}

.p-nav__trigger-part:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.p-nav__trigger-part:nth-of-type(3) {
  bottom: 1rem;
}

.p-nav__trigger-part.active:nth-of-type(1) {
  transform: translateY(0.85rem) rotate(315deg);
}

.p-nav__trigger-part.active:nth-of-type(2) {
  opacity: 0;
}

.p-nav__trigger-part.active:nth-of-type(3) {
  transform: translateY(-0.85rem) rotate(-315deg);
}

.p-skill {
  padding: 10rem 2rem;
  background-color: #f7f6e7;
}

.p-skill__title {
  z-index: 0;
  position: relative;
  margin: 0 auto 7rem;
}

.p-skill__title::before {
  z-index: -1;
  position: absolute;
  top: -2.3rem;
  left: -1.8rem;
  content: "S";
  color: #dd98a5;
  font-size: 5rem;
  opacity: 0.5;
}

.p-skill__container {
  display: flex;
  flex-direction: column;
}

.p-skill__wrap {
  width: 100%;
  text-align: center;
}

.p-skill__kind {
  margin-bottom: 2rem;
  font-weight: bold;
}

.p-skill__kind--orange {
  color: #dcad81;
}

.p-skill__kind--blue {
  color: #5c7f9e;
}

.p-skill__kind--gray {
  color: #565656;
}

.p-skill__kind--green {
  color: #6ca475;
}

.p-skill__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 4rem;
}

.p-skill__items--two {
  margin: 0 auto 4rem !important;
}

.p-skill__item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 7rem;
  height: 7rem;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: red;
}

.p-skill__item--orange {
  background-color: #dcad81;
}

.p-skill__item--blue {
  background-color: #5c7f9e;
}

.p-skill__item--gray {
  background-color: #565656;
}

.p-skill__item--green {
  background-color: #6ca475;
}

.p-skill__icon {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #f5f5f5;
  font-size: 3rem;
}

.p-skill__icon--xd {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.6rem 0.3rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.p-skill__name {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1rem;
}

.p-to-top {
  display: none;
  z-index: 2;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #dd98a5;
  border-radius: 3px;
  background-color: #dd98a5;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.p-to-top::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  content: "\f106";
  color: #fff;
  font-weight: 900;
  font-size: 3.5rem;
  font-family: "Font Awesome 5 Free";
  text-align: center;
}

.p-top {
  position: relative;
  height: auto;
  background: url(./../img/header-bg.jpg) no-repeat center center/cover;
}

.p-top__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.p-top__title {
  margin: 0 auto 2rem;
  color: white;
  font-weight: bold;
  font-size: 4rem;
}

.p-top__content {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 12rem 0 14rem 0;
  text-align: center;
}

.p-top__message {
  margin-bottom: 2rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.p-top__btn {
  display: inline-block;
}

.p-work {
  padding: 10rem 2rem;
  background-color: #f5f5f5;
}

.p-work__title {
  z-index: 0;
  position: relative;
  margin: 0 auto 7rem;
}

.p-work__title::before {
  z-index: -1;
  position: absolute;
  top: -2.3rem;
  left: -1.8rem;
  content: "W";
  color: #dd98a5;
  font-size: 5rem;
  opacity: 0.5;
}

.p-work__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 89rem;
  margin: 0 auto;
}

.p-work__link {
  display: block;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}

.p-work__link::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  content: "Show more ...";
  color: white;
  line-height: 15rem;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}

.p-work__item {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
}

.p-work__item:not(:last-child) {
  margin-bottom: 4rem;
}

.p-work__img {
  position: relative;
  height: auto;
  border-radius: 1rem;
}

.p-work__introduction {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  text-align: center;
}

.p-work__description {
  line-height: 1.4em;
}

.stickyadd__header {
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.7);
  /* @include mq("pc") {
      height: 6rem;
    } */
}

.stickyadd__logo--hide {
  display: none;
}

.stickyadd__link {
  color: black;
}

.stickyadd__trigger-part {
  background-color: black;
}

.stickyadd__nav {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .c-btn, .c-btn--red {
    padding: 1.4rem 3.44rem;
    border: 0.4rem solid white;
    font-size: 2rem;
  }
  .c-btn::after, .c-btn--red::after {
    right: 1.8rem;
  }
  .c-btn--red {
    border: 0.4rem solid #dd98a5;
  }
  .c-title {
    font-size: 3rem;
  }
  .p-about {
    padding: 10rem 0;
  }
  .p-about__title {
    margin-bottom: 8rem;
  }
  .p-about__title::before {
    font-size: 5.6rem;
  }
  .p-about__content {
    display: flex;
    width: 70rem;
    margin: 0 auto;
  }
  .p-about__img-wrap {
    flex-basis: 30rem;
    width: 30rem;
    margin: 0 5rem 0 0;
  }
  .p-about__introduction {
    font-size: 1.8rem;
  }
  .p-about__qualification-title {
    font-size: 2rem;
  }
  .p-about__qualification-item {
    font-size: 1.8rem;
  }
  .p-contact {
    padding: 10rem 0;
  }
  .p-contact__title {
    margin-bottom: 8rem;
  }
  .p-contact__title::before {
    font-size: 5.6rem;
  }
  .p-contact__input-wrap {
    display: flex;
    align-items: center;
  }
  .p-contact__label {
    margin: 0;
    margin-right: 5rem;
  }
  .p-contact__input {
    width: calc(100% - 12rem);
  }
  .p-contact__input--textarea {
    max-height: 15rem;
  }
  .p-contact__example {
    margin-left: 12rem;
  }
  .p-header {
    width: calc(100% - 8rem);
    max-width: 124rem;
  }
  .p-nav {
    display: block !important;
    position: static;
    width: auto;
    height: 4rem;
    margin: auto 0;
    background-color: transparent;
  }
  .p-nav__items {
    position: static;
    top: 0;
    left: 0;
    flex-direction: row;
    transform: none;
  }
  .p-nav__item {
    height: 4rem;
    margin: 0;
  }
  .p-nav__link {
    height: 4rem;
    margin: 0 1.5rem;
    padding: 0.8rem 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .p-skill {
    padding: 10rem 1rem;
  }
  .p-skill__title {
    margin-bottom: 8rem;
  }
  .p-skill__title::before {
    font-size: 5.6rem;
  }
  .p-skill__container {
    flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .p-skill__wrap {
    width: 15rem;
  }
  .p-skill__wrap:not(:last-child) {
    margin-right: 4rem;
  }
  .p-skill__kind {
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }
  .p-skill__items {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
  .p-skill__item {
    width: 7rem;
    margin: 0;
  }
  .p-skill__item:not(:last-child) {
    margin-right: 0;
  }
  .p-skill__item:not(:nth-last-child(n + 1):nth-last-child(-n + 2)) {
    margin-bottom: 1rem;
  }
  .p-skill__item:nth-child(2n + 1) {
    margin-right: 1rem;
  }
  .p-top {
    height: 100vh;
  }
  .p-top__title {
    margin-bottom: 3rem;
    font-size: 7rem;
  }
  .p-top__content {
    padding: 30rem 0 30rem 0;
  }
  .p-top__message {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  .p-work {
    padding: 10rem 2rem;
  }
  .p-work__title {
    margin-bottom: 8rem;
  }
  .p-work__title::before {
    font-size: 5.6rem;
  }
  .p-work__wrap {
    flex-direction: row;
  }
  .p-work__link:hover::after {
    opacity: 1;
  }
  .p-work__item {
    width: calc((100% - 14rem) / 3);
    max-width: 25rem;
    margin: 0;
  }
  .p-work__item:not(:nth-child(3n)) {
    margin-right: 7rem;
  }
  .p-work__item:not(:nth-last-child(n + 1):nth-last-child(-n + 3)) {
    margin-bottom: 2rem;
  }
  .p-work__img {
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .u-display--pc-none {
    display: none;
  }
}

@media only screen and (min-width: 8rem) {
  .p-skill__items--two {
    max-width: 8rem;
  }
  .p-skill__items--three {
    max-width: 8rem;
  }
  .p-skill__items--five {
    max-width: 8rem;
  }
}

@media only screen and (min-width: 16rem) {
  .p-skill__items--two {
    max-width: 16rem;
  }
  .p-skill__items--three {
    max-width: 16rem;
  }
  .p-skill__items--five {
    max-width: 16rem;
  }
}

@media only screen and (min-width: 24rem) {
  .p-skill__items--three {
    max-width: 24rem;
  }
  .p-skill__items--five {
    max-width: 24rem;
  }
}

@media only screen and (min-width: 32rem) {
  .p-skill__items--five {
    max-width: 32rem;
  }
}

@media only screen and (min-width: 40rem) {
  .p-skill__items--five {
    max-width: 40rem;
  }
}

@media screen and (max-width: 767px) {
  .u-display--sp-none {
    display: none;
  }
}
