.p-nav {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: black;

    @include mq("pc") {
        display: block !important;
        position: static;
        margin: auto 0;
        width: auto;
        height: 4rem;
        background-color: transparent;
    }

    &__items {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;

        @include mq("pc") {
            flex-direction: row;
            position: static;
            top: 0;
            left: 0;
            transform: none;
        }
    }

    &__item {
        width: fit-content;
        margin: 2rem auto;

        @include mq("pc") {
            margin: 0;
            height: 4rem;
        }
    }

    &__link {
        display: block;
        position: relative;
        font-size: 2rem;
        font-weight: bold;
        transition: all 0.3s;

        @include mq("pc") {
            margin: 0 1.5rem;
            padding: 0.8rem 0;
            height: 4rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.4rem;
        }

        &::after {
            position: absolute;
            bottom: -0.3rem;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 0;
            height: 0.2rem;
            background-color: $color-pink;
            transition: all 0.3s;

            @include mq("pc") {
                bottom: 0.5rem;
            }
        }

        &:hover {
            color: $color-pink;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__link--current {
        color: $color-pink !important;
    }

    &__trigger {
        position: relative;
        z-index: 4;
        width: 3rem;
        height: 4rem;
        margin: auto 0;
        padding: 0.8rem;
        cursor: pointer;
        transition: all 0.5s;

        &-part {
            position: absolute;
            left: 0;
            width: 100%;
            height: 0.3rem;
            background-color: white;
            border-radius: 4px;
            transition: all 0.5s;

            &:nth-of-type(1) {
                top: 1rem;
            }

            &:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-of-type(3) {
                bottom: 1rem;
            }

            &.active:nth-of-type(1) {
                transform: translateY(0.85rem) rotate(315deg);
            }
            &.active:nth-of-type(2) {
                opacity: 0;
            }
            &.active:nth-of-type(3) {
                transform: translateY(-0.85rem) rotate(-315deg);
            }
        }
    }
}
